<div class="book-body">
  <%= attachment_image_tag @book, :image, size: "300x300" %>
  <p>ショップ名：<%= @book.name %></p>
  <p>説明：<%= @book.introduction %></p>
  <p>ユーザーネーム：<%= @book.customer.name %></p>
  <p>投稿日時：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.customer == current_customer %>
    <%= link_to "削除", customers_book_path(@book), method: :delete %>
  <% end %>

  <% if @book.favorited_by?(current_customer) %>
    <p>
      <%= link_to customers_book_favorites_path(@book), method: :delete do %>
        ♥<%= @book.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to customers_book_favorites_path(@book), method: :post do %>
        ♡<%= @book.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <%= link_to "編集", edit_customers_book_path %>
</div>